/* navbar kontainer*/
.navbar {
    overflow: hidden;
    background-image: linear-gradient(180deg, black, yellow);
    font-family: fantasy;


}


/*navbar color change*/

.navbar {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    height: 60px;
   
   
    
    background-image:linear-gradient(180deg, black, yellow);
    border-radius: 10px;
    animation: mymove 6s infinite  /* меняет цвет*/
}
@keyframes mymove {
    0% { background-image:linear-gradient(180deg, black, light green);}
    20% { background-image:linear-gradient(180deg, black, yellow);}
    50% { background-image:linear-gradient(180deg, black, light green);}
    70% { background-image:linear-gradient(180deg, black, yellow);}
    100% { background-image:linear-gradient(180deg, black, light green);}
    
 
  }
  /* move image*/
  .imgP {
    width: 50px;
    height: 50px;
    
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 10;
    
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:100px; top:0px;}
    50%  { left:200px; }
    75%  { left:360px; }
    100% { left:0px; top:0px;}
  }

/* link navbar*/
.navbar a {
    float: left;
    font-size: 25px; /* size text*/
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/*Dropbtn button*/

.dropdown {
    float:left;
    overflow:hidden;

}
/*drodown button*/
.dropdown .dropbtn  {
    font-size:25px;
    border:none;
    outline:none; /* border line*/
    color: white;
    padding: 14px 16px;
    background-color: rgb(99, 224, 224);
    font-family: fantasy; /* шрифт*/
    margin: 0;
    border-radius: 10px;

}
/* color for button menu*/
.navbar a:hover, .dropdown:hover .dropbtn {
    background-image:linear-gradient( red, yellow);
    border-radius: 10px;
    box-shadow: -5px 10px 20px -5px rgb(2, 10, 0);
}

/* dropdown content(hidden by default)*/
.dropdown-content {
    display:none;
    position:absolute;
    background-image:linear-gradient(black, yellow);
    min-width: 160px;
    box-shadow: -5px 10px 20px -5px rgb(249, 229, 4);
    z-index: 1;
    border-radius: 10px ;

}

/* link inside the dropdown*/

.dropdown content a {
    float:none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* add grey background color to dropdown links hover*/
.dropdown-content a:hover {
     background-image:linear-gradient( red, black, red);
    
}

/* show the dropdown menu on hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*позвонить*/

.moving-button {
    padding: 15px 30px;
    font-size: 25px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 200px; /* Позиция сверху */
    right: 30px; /* Начальная позиция справа */
    
}



/* фото холод резина*/
.imgFridge {
    width: 200px;
    height: 200px;
}

/* фото сушилка*/
.DryerK {
    width: 100px;
    height: 200px;
}


.contDryerK {
    margin-left: 5%;
    border-color: #b7f00c;
    border-style: solid;
    border-width:5px;
    width: 40%px;
    height: 40%px;
    display:block;
    background-color: rgb(136, 164, 11);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;

}
.contPage {
    margin-top:5%;
    margin-bottom:5%;
    border-style: solid;
    box-shadow: -5px 10px 20px -5px rgb(63, 63, 62);
    border-radius: 5px;
    width: 100%;
    height: 30%;
    display: flex;
}
/*прилип номер*/
.stick {
    position: sticky; /* прилип к верх */
    top: 0;  /* прилип к верх */
    
}

a {
  transition: transform 0.3s ease; /*  увеличение */
}

a:hover {
  transform: scale(1.2); /* увелич ссылку в 20% */
}
