body{
  background-color: rgb(148, 143, 143);
  color:rgb(5, 6, 6);
}
/*nav menu*/
/*
.nav-ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  height: 120px;
 
  
  background-color: #f1eff5;
  border-radius: 10px;
  animation: mymove 5s infinite  /* меняет цвет*/

}
/* меняет цвет*/
/*@keyframes mymove {
  from {background-color: #190574;}
  to {background-color: #4c052d;}
  */
}
/* меняет цвет*/


/*
.active{
  color:#f8f2f2; /* цвет текста нав бар*/
  padding-left: 10px;
  */
  
  
}
/*
.nav-li {
  background-color: #4e7a39;
  margin-left: 10px;
  padding: 2px;
  height: 70px;
  text-align: center;
  width: 200px;
  border-color: rgb(251, 190, 7);
  box-shadow: 0 4px 8px 0 rgb(248, 248, 3); /* тень*/
 /* transition: all 0.9s ease;
  */
  /* float: left /* сдвиг влево*/
  
 
 
 
  
}
/*
.nav-li:hover {
  box-shadow: 0 8px 16px 0 rgba(244, 147, 11, 0.96);/*при наведении тень дополнительно*/
 /*  width: 210px;
/*  height: 50px;
 /* border-radius: solid;
  background-color: #20dc12c7;*/
  
} /*
.active:hover {
  text-align: justify;
  */
  
}
/* бегущая кнопка*/

  
.call{
  font-size: 20px;
  border-radius: 25px ;
  height: 70px;
  border:2px solid #ecf1ea;
  background-color: rgb(18, 179, 219);
  color: rgb(9, 0, 0);
  
}








h1 {
  color:rgb(200, 16, 16);

}
/* галерея фото*/
.imggalery {
  height: 250px;
  width: 250px;
  margin: 10px;
  border-radius: 15%;

  
  background-color: rgb(166, 166, 176);
  box-shadow: 0 4px 8px 0 rgb(28, 28, 27); /* тень*/
  
  
}




.p-img {
  background-color: rgb(87, 120, 109);
  border-color: black;
  border-radius: 20px;
  margin-right: 50px;
  padding-left: 50px;

  
  box-shadow: 0 4px 8px 0 rgb(248, 248, 3); /* тень*/

}

.p-img:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 238, 22, 0.566);/*при наведении тень дополнительно*/
}

img:hover {
  outline: 3px solid #56f50d; /* Параметры рамки */
  border-radius: 10px; /* рамка при наведении*/
}







p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 2; /* ширина меж строк*/
}
/*.link-phone-text {
  color:white;
  text-align: center;

}
.but-phone {
  background-color:red ;
  text-align: center;
} */
.phone {
 /* background-color: red;
  border:#403d46;
  width:90px;
  text-align: center;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 9px; */
  
  opacity: 0.7;
  position:sticky;
  top: 20px;
  top: 70px;
  margin-left: 30px;

 /* outline: 3px solid #0e1c08; /* Параметры рамки */
 /* border-radius: 10px; /* Радиус скругления */
  
} 
/*
.phone:hover {
  outline: 3px solid #7cd354; /* Параметры рамки */
  border-radius: 10px; /* рамка при наведении*/
  box-shadow: 0 0px 56px 0 rgba(174, 238, 11, 0.74);/*при наведении тень дополнительно*/
}
*/
/* кнопка*/

#icon{
  opacity:50%; /*первая картинка ключи*/
  width: 50px;
  
}

/* кнопка звонок*/

#pc4el {
  border-radius: 30%;
  background-color: rgb(166, 166, 176);
  box-shadow: 0 4px 8px 0 rgb(7, 232, 244); /* тень*/
  transition: 0.8s;  /*время появления*/  
                               

   /* при наведенни врщается*/
    width: 90px;
    height: 90px;
    border: 4px double #bd6c46; /* Рамка */
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
     transition: all 0.5s ease;
  } 
  #pc4el:hover {
    /* при наведенни врщается*/
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
  }
       

#pc4el:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 238, 22, 0.566);/*при наведении тень дополнительно*/
}

#ul-list {
  border-radius: 25px;
  background-color: rgb(97, 147, 129);
  margin-left: 10px;
  padding-top: 10px;
  width:1050px;
  box-shadow: 0 4px 8px 0 rgb(16, 15, 15); /* тень*/
  transition: 0.3s;
  
}

#ul-list{
  display: flex;
}
.div-t{
  width: 1400px;
  height: 740px;
  
}

#ul-list:hover {
  box-shadow: 0 8px 16px 0 rgba(229, 6, 6, 0.845); /* тень*/
}

li {
  border-top: 2px solid white;
  line-height: 45px; /* по центру распределение*/
  font-size: 20px;
  padding-left: 60px;
  border-radius: 5px;
  background-color:rgb(65, 137, 114);
 
}
 /* ключи картинка*/
#icon2 {
  width: 20px;
  float: right;
  
  
  width: 0; /* скрыть картигку*/
  transition: 0.3s; /* медленное появление картинки*/
  
}
li:hover #icon2 {
  width: 50px;   /* ПОФВЛЕНИЕ карнинки*/
}

 /* отзывы >>*/

 #textrewp {
  margin-left: 50px;
  color: rgb(189, 241, 17);
 }
#review {
  background-color: #4e7a39;
  margin-left: 50px;
  border-radius: 20px;

}

#textrew{
  color:white;
  background-color: #85828d;
  padding-left: 20px;
  border-radius: 20px;
}
#djes {
  margin-left: 50px;
  padding-left: 10px;
  background-color: antiquewhite;
  width: 250px;
  border-radius:10px ;
}

#imgogl {
  border-radius: 20px;
  height: 50px;
  
}


#imgrew {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  border-radius: 100px;
  
}
#divimg {
  margin-left: 50px;
 
}

#Rev1 {
  background-color: black;
  height: 100px;
  margin-left: 50px;
  border-radius: 20px;
}

#Rev2 {
  background-color: #887e9d;
  border-radius: 10px;
  width: 100px;
  color:aqua;
  margin-left: 50px;
}

#inputR {
  margin-left: 50px;
  
}
input {
  width: 70%;
  background-color: rgb(208, 202, 196);
}


/* << отзывы*/

#form {
  margin-left: 50px;
  background-color: #403d46;
  height: 30px;
  width: 400px;
  border:solid;
  border-color: #56f50d;
  border-radius: 15px;
  color:aqua;
  box-shadow: 0 4px 8px 0 rgb(97, 245, 102); /* тень*/
}

#form:hover {
  box-shadow: 0 8px 16px 0 rgba(235, 227, 15, 0.566);
}

.btn-link {
  height: 50px;
  width: 90px;
  font-size: 20px;
  margin-left:10px;
  display: inline-block; /* блочный эл*/
  background-color: rgb(7, 21, 125);
  color:#f1eff5;
  padding:1rem 1.5rem; /*поля вокруг текста*/
  text-decoration: none; /* убираем подчеркивание*/
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(17, 211, 229, 0.725); /* тень*/
}

.btn-link:hover {
  box-shadow: 0 8px 16px 0 rgba(244, 125, 14, 0.566);
  background-color: rgb(12, 133, 119);
}





